@use "../variables" as variables;

#cart {
  // position: relative;
}

li {
  button {
    padding: 0.22em;
    margin: 1em;
    line-height: 1em;
  }
}

#cover {
  position: absolute;
  background: #80808080;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
