@use "../variables" as variables;

button {
  background: #3a3f3b;
  color: variables.$color-light-warm;
  padding: 1em;
  border: none;
  cursor: pointer;
  &:hover {
    background: #404642;
    color: variables.$color-light-cold;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
