@use "../variables" as variables;
// .about {
//   .content {
//     color: variables.$color-dark-cold;
//     line-height: 2em;
//     h2,
//     h3 {
//       color: variables.$color-dark-warm;
//       margin: 2em 0 1em;
//     }
//     h2 {
//       font-size: 2em;
//     }
//     h3 {
//       font-size: 1.5em;
//     }

//     b {
//       font-family: "Georgia";
//       font-style: italic;
//     }
//     ul {
//       color: variables.$color-dark-warm;
//     }
//   }
// }
