@use "../variables" as variables;

.cover {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  p {
    background: white;
    border-radius: 2em;
    padding: 1em;
    box-shadow: 0 0 20px white;
  }
}
