@use "../variables" as variables;

.hero {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.45) 0%,
      rgba(0, 0, 0, 0.25) 30%,
      rgba(0, 0, 0, 0) 60%
    ),
    url(../../images/bg2.jpg) center / cover no-repeat;
  min-height: 100vh;
  color: white;

  .content {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    nav {
      padding: 1em 0;
      position: absolute;
      top: 0;
      width: 100%;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        li {
          list-style-type: none;
        }
      }

      a {
        position: relative;
        color: variables.$color-light-warm;
        text-decoration: none;
        transition: color 0.5s ease;
        &:hover {
          color: variables.$color-light-cold;
          &::after {
            opacity: 1;
          }
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -4px;
          width: 100%;
          height: 1px;
          background-color: variables.$color-light-warm;
          opacity: 0;
          transition: opacity 1s ease;
        }
      }
    }

    header {
      h1 {
        color: variables.$color-light-cold;
        font-size: 4em;
        margin: 0.5em 0;
      }
      h2 {
        font-family: "Georgia", serif;
        font-style: italic;
        font-weight: normal;
        color: variables.$color-light-warm;
        margin: 0.5em 0;
      }
      p {
        color: variables.$color-light-cold;
        line-height: 2em;
        margin: 3em 0 6em;
      }
      button {
        background: #3a3f3b;
        color: variables.$color-light-warm;
        font-family: "Georgia", serif;
        font-style: italic;
        font-size: 1em;
        padding: 1em;
        border: none;
        cursor: pointer;
        &:hover {
          background: #404642;
          color: variables.$color-light-cold;
        }
      }
    }
  }
}
