@use "./components/variables" as variables;

body {
  margin: 0;
  font-family: "verdana", sans-serif;
}

section {
  overflow: hidden;
  &.dark {
    background-color: #6b6e5d;
    color: variables.$color-light-cold;
    h2,
    h3 {
      color: variables.$color-light-warm;
    }
  }
  &.light {
    background-color: variables.$color-light-cold;
    color: variables.$color-dark-cold;
    h2,
    h3 {
      color: variables.$color-dark-warm;
    }
  }

  .content {
    line-height: 2em;
    h2,
    h3 {
      margin: 2em 0 1em;
    }
    h2 {
      font-size: 2em;
    }
    h3 {
      font-size: 1.5em;
    }
    b {
      font-family: "Georgia";
      font-style: italic;
    }
  }
  .wrapper {
    width: 80%;
    margin: 0 auto;
  }
}
